body{
        font-family: 'Poppins', sans-serif;
        margin: 0;
}
h1{
        font-size: 45px;
}
h2{
        font-size: 40px;
}
.color1{
        color: orange;
}
.half{
        width: 50%;
        padding: 5%;
}
.flexible{
        margin-bottom: 100px;
        display: flex;
}
.half img{
        width: 100%;
}
.anchor{
        text-decoration: none;
        background-image: linear-gradient(orange, tomato);
        padding: 10px 40px;
        color: aliceblue;
        font-weight: 700;
        border-radius: 5px;
        letter-spacing: 3px;
}
.top-banner{
        background-image: url(top-banner.png);
        background-repeat: no-repeat;
}

.dream-big{
        background-image: url(dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
}
.experinence-item{
        box-shadow: 40px 40px 50px grey;
        width: 40%;
        margin: 5%;
        padding-left: 10px;
        padding-right: 10px;
}
.experience{
        background-image: url(exp-bg.png);
        background-repeat: no-repeat;
}